{% extends 'base.html' %}
{% load static %}
{% block content %} 
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-5 border m-5">
            <h4 class="text-center"> *** Registation as User ***</h4>
            {% if error %}
            <div style="color: red;">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">First name</label>
                        <input type="text" id="form3Example1" class="form-control" name="first" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Last name</label>
                        <input type="text" id="form3Example2" class="form-control" name="last" />
                      </div>
                    </div>
                  </div>
                
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" id="form3Example3" class="form-control" name="email" />
                    
                  </div>
                
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="password" id="form3Example4" class="form-control" name="password" /> 
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Phone Number:</label>
                    <input type="Number" id="form3Example4" class="form-control" name="phone"/> 
                  </div>
                  <div class="form-outline mb-4">
                      <label for="company">Company:</label>
                      <select name="company" id="company" class="text-success" required>
                        <option disabled selected>Select Your Company</option>
                        <option value="single user">Single User</option>
                        {% for company in companies %}
                        <option value="{{ company.id }}">{{ company.name }}</option>
                        {% endfor %}
                        </select> 
                  </div>
                  <div class="form-outline mb-4">
                    <label for="plan">Plan:</label>
                    <select name="plan" id="plan" class="text-primary" required>
                        <option disabled selected>Select Your Plan</option>
                        {% for plan in plans %}
                        <option value="{{ plan.name }}">{{ plan.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="submit" class="btn btn-success mt-2">Register</button>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}